.barre{
	color: #fff!important;
}




.card:hover .gandalf {
  visibility: visible;
  filter: none;
  opacity: 1;
}

.text {
  position: absolute;
  top: 0;
  color: black;
  font-size: 25px;
  background-color: white;
  opacity: 0.7;
  border: 10px solid white;
  border-radius: 5px;
  margin-top: 1%;
  width: 90%;
}

.dead {
  position: absolute;
  top: 0;
  color: black;
  font-size: 50px;
  width: 90%;
  opacity: 0.7;
  margin-top: 5%;
}

.text2 {
  position: absolute;
  top: 40%;
  color: white;
  width: 90%;
  font-size: 75px;
}

.btn_hate{
  border-radius: 0px;
}


.text3 {
  position: absolute;
  top: 40%;
  color: white;
  width: 90%;
  font-size: 75px;
}


.deadbar {
  text-decoration: line-through;
  color: #fe661d;
}

.gimli {
  color: white;
}

.card:hover .text {
  opacity: 0;
}

.card:hover .text-bis {
  opacity: 0;
}

.card:hover .text2 {
  opacity: 0;
}

.card:hover .text3 {
  opacity: 0;
}

.montant {
  color: orange;
}

.gandalf {
  filter: invert(0.4);
}

hr { 
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5em;
  margin-right: 5em;
  border-style: inset;
  border-width: 1px;
  border-color: black;
}

.media-body h5{
	max-height: 140px;
	overflow-y: scroll;
}

.badge {
	margin-right: 5vw;
	margin-right: 5vw;
}

footer .card{

	background-color: #1a1110;
	color: white;
}

footer a{
	margin-top: 30vw;
	font-weight: bold;
	color:white;

}

footer a:hover{
	margin-top: 30px;
	font-weight: bold;
	color:white;
	
}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}


.fellows{
	width: 20rem;
}


.nav-bg-orange{
	background-color: #fe661d!important;
}

.bg-light{
	background-color: #fe661d!important;
	
}

.font-nav {
  font-family: 'aniron-title';
}

@font-face {
  font-family: 'aniron-title';
  src: url('fonts/title/anicm___.ttf');
}

.font-pills {
  font-family: 'aniron-title';
}

@font-face {
  font-family: 'partybusiness';
  src: url('fonts/text/partybusiness.ttf');
}

.font-text {
  font-family: 'partybusiness';
}

@font-face {
  font-family: 'annatar';
  src: url('fonts/symboles/tngan.ttf');
}

.font-symboles {
  font-family: 'annatar';
}

.nav-orange {
  color: #fe661d;
}

.gimli {
  color: white;
}

.card:hover .text {
  opacity: 0;
}

.card:hover .text-bis {
  opacity: 0;
}

.card:hover .text2 {
  opacity: 0;
}

.card:hover .text3 {
  opacity: 0;
}

.montant {
  color: orange;
}

.gandalf {
  filter: invert(0.4);
}

.my_links_2 {
  font-size: 40px;
}

.black-card {
  background-color: black;
}

.size-20{
  font-size: 20px;
}

.size-25{
  font-size: 25px;
}


.custom-bg-dark {
  background-image: url('ressources/bg_dark.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.custom-bg-light {
  background-image: url('ressources/bg_light.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.custom-card {
  border: solid 4px black;
  margin-left: 10px;
  border-radius: 0px;
   !important
}

#reward{
	color: #fff;
}

.about{
	color: #fff;
}